<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/logo-frameless.svg">
	<link rel="stylesheet" href="/main.css">
  <title>Marikah</title>
  <script src="/vue.js"></script>
  <script src="/socket.io.min.js"></script>
</head>
<body>
  <div id="app" class="w-screen h-screen p-4 bg-indigo-100">
    <div class="border-indigo-200 border-2 rounded border-solid w-full h-full flex flex-col bg-white">
      <div class="p-2 border-b-2 border-solid border-indigo-200 flex items-center justify-between">
        <div class="font-bold text-lg flex items-center">
          <img src="/logo.svg" alt="Logo" class="w-8 mr-2">
          <span class="text-indigo-900 text-2xl mb-1 mr-1">/</span>
          <div class="flex gap-2 items-center">
            <h2>{{ directoryData?.name }}</h2>
            <span v-show="directoryData?.children?.length" class="text-gray-400 bg-gray-50 font-normal text-sm px-2 py-1 rounded">{{ directoryData?.children?.length }} items</span>
          </div>
        </div>
        <div class="pr-1 text-sm flex gap-4 items-center">
          <!-- <button class="hover:bg-indigo-100 hover:text-black text-gray-500 px-2 py-1 rounded">folder</button> -->
          <div v-if="editMarks.length">
            <span class="font-bold text-xs text-amber-600 bg-amber-100 px-1 rounded">EDIT</span>
            <span> : {{editMarks.length}}</span>
          </div>
          <div v-if="passMarks.length">
            <span class="font-bold text-xs text-green-600 bg-green-100 px-1 rounded">PASS</span>
            <span> : {{passMarks.length}}</span>
          </div>
          <button @click="criteriaModalOpen = true" class="hover:bg-indigo-100 hover:text-black text-gray-500 px-2 py-1 rounded">criteria <span class="bg-gray-100 text-gray-700 text-xs px-1 rounded border-[1px] border-gray-600 border-solid" v-if="false">{{folderForReference}}</span></button>
        </div>
      </div>
      <div class="overflow-y-auto flex justify-between flex-col flex-1">
      <ul class="p-2 space-y-1">
        <li @click.ctrl="toggleEditMark(id)" @contextmenu.ctrl.prevent="togglePassMark(id)" class="flex gap-3 hover:bg-indigo-50 rounded px-2 py-1 items-center" v-for="(folder, id) in directoryData?.children">
          <div class="flex w-1/2 items-center gap-1">
            <p>{{folder?.name}}</p>
            <!-- <span class="w-5 h-5 fill-white font-bold p-px bg-green-700 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z"></path></svg>
            </span> -->
            <span v-show="isEqualWithRef(folder?.children)" class="w-4 h-4 fill-green-700">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z"></path></svg>
            </span>
            <span v-if="editMarks.includes(id)" class="font-bold text-xs text-amber-600 bg-amber-100 px-1 rounded">EDIT</span>
            <span v-if="passMarks.includes(id)" class="font-bold text-xs text-green-600 bg-green-100 px-1 rounded">PASS</span>
          </div>
          <div class="flex gap-1">
            <!-- <div class="w-4 h-4 bg-green-500 rounded"></div> -->
            <!-- <div class="w-4 h-4 text-indigo-400 bg-gray-200 rounded leading-4 text-sm font-bold grid place-items-center">?</div> -->
            <!-- <div class="w-4 h-4 bg-gray-200 rounded"></div> -->
            <!-- <div v-for="file in directoryData?.children[folderForReference]?.children" :title="file?.name" class="w-4 h-4 rounded" :class="{
              'bg-gray-200': !folder?.children?.some(a=>a?.name===file?.name),
              'bg-green-500': folder?.children?.some(a=>a?.name===file?.name)
            }"></div> -->
            <div v-for="file in includedReferencedItems" class="group flex relative">
              <span class="w-4 h-4 rounded hover:opacity-70 hover:-translate-y-px transition-transform" :class="{
                'bg-gray-200': !folder?.children?.some(a=>a?.name===file?.name),
                'bg-indigo-900': folder?.children?.some(a=>a?.name===file?.name)
              }"></span>
              <span class="z-30 group-hover:opacity-100 pointer-events-none transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
              -translate-x-1/2 translate-y-4 w-max opacity-0 m-4 mx-auto">{{ file?.name }}</span>
            </div>
            <div v-show="folder?.children?.filter(a=>!directoryData?.children[folderForReference]?.children?.some(b=>b?.name===a?.name))?.length" class="group flex relative leading-4 text-sm">
              <span class="select-none">+{{folder?.children?.filter(a=>!directoryData?.children[folderForReference]?.children?.some(b=>b?.name===a?.name))?.length}}</span>
              <span class="z-30 group-hover:opacity-100 pointer-events-none transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
              -translate-x-1/2 translate-y-4 w-max opacity-0 m-4 mx-auto">
                <p v-for="file in folder?.children?.filter(a=>!directoryData?.children[folderForReference]?.children?.some(b=>b?.name===a?.name))">{{file?.name}}</p>
              </span>
            </div>
            <!-- <div class="leading-4 text-sm">+{{folder?.children?.filter(a=>!directoryData?.children[folderForReference]?.children?.some(b=>b?.name===a?.name))?.length}}</div> -->
          </div>
        </li>
      </ul>
      <div class="flex justify-between text-sm p-3 text-gray-400">
        <p>ctrl+click to toggle edit mark • double click to open</p>
        <p title="Jul - Aug 2023">created with :love: by <a class="hover:text-indigo-500" href="https://afarhansib.github.io">afarhansib</a></p>
      </div>
    </div>
    </div>
    <div v-show="criteriaModalOpen">
      <div @click="criteriaModalOpen = false" class="bg-black/20 fixed inset-0 z-10"></div>
      <div class="bg-white flex flex-col fixed inset-x-1/4 top-1/2 -translate-y-1/2 z-20 border-indigo-200 border-2 rounded">
        <div class="flex justify-between p-3 items-center">
          <div class="flex flex-row items-center gap-2">
            <h3 class="text-lg font-bold">Criteria</h3>
            <p class="text-gray-400 text-sm">what files should exist</p>
          </div>
          <button @click="criteriaModalOpen = false" class="grid place-items-center p-2 w-8 h-8 hover:bg-red-200 rounded-lg"><svg class="fill-red-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"></path></svg></button>
        </div>
        <div v-if="false" class="flex flex-col overflow-y-auto flex-1 justify-between">
          <ul class="overflow-y-auto p-2 space-y-2 pb-3">
            <li v-for="n in 10" class="px-2 pr-1 items-center justify-between flex py-1 bg-green-100 rounded">
              <div class="flex items-center">
                <form @submit.prevent="alert('y2')" class="items-center flex gap-2">
                  <input type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 w-5 h-5">
                  <input type="text" value="Latihan Word N" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-1">
                </form>
                <p>Latihan Word {{ n }}</p>
              </div>
              <div>
                <button class="grid place-items-center p-2 w-8 h-8 hover:bg-red-200 rounded-lg">
                  <svg class="fill-red-700"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 6V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7ZM13.4142 13.9997L15.182 12.232L13.7678 10.8178L12 12.5855L10.2322 10.8178L8.81802 12.232L10.5858 13.9997L8.81802 15.7675L10.2322 17.1817L12 15.4139L13.7678 17.1817L15.182 15.7675L13.4142 13.9997ZM9 4V6H15V4H9Z"></path></svg>
                </button>
              </div>
            </li>
          </ul>
          <form @submit.prevent="alert('yui')">
            <div class="flex gap-2 p-2">
              <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
              <button type="submit" class="rounded px-4 py-2 bg-indigo-100 text-indigo-600">add</button>
            </div>
          </form>
        </div>
        <form class="p-3 pt-0">
          <label class="block">
            <span>Folder to get criteria from</span>
            <select class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" v-model="folderForReference">
              <option v-for="(folder, index) in directoryData?.children" :value="index">{{ folder?.name }}</option>
            </select>
          </label>
        </form>
        <div>
          <form class="p-3 pt-0">
            <label class="block p-1 flex gap-1 items-center hover:bg-indigo-100 rounded select-none" v-for="file in referencedFiles">
              <input class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 w-5 h-5" type="checkbox" :value="file.name" v-model="includedItems">
              <span>{{ file.name }}</span>
            </label>
          </form>
          <!-- <code> -->
            <!-- {{referencedFiles}} -->
          <!-- </code> -->
        </div>
      </div>
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>